
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family:'Source Code Pro', monospace;
    background: rgb(173, 163, 18);
}

.profile {
    margin: 40px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 200px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

h2 {
    font-weight: bold;
    font-size: 15px;
}

ul {
    text-align: center;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 20px 70px;
}

.links-list li a{
    display: block;
    background-color: rgba(240, 229, 82, 0.616);
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 30px;
}